.loginContainer {
  min-height: 100vh;
  background: linear-gradient(to right, #4b6cb7, #182848);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  /* width: 320px; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form h2 {
  text-align: center;
  color: #333;
}

.form input {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

.form button {
  padding: 0.8rem;
  background-color: #4b6cb7;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.form button:hover {
  background-color: #3a539b;
}
